
.scroller {
  scrollbar-color: #1470d8 #C2D2E4;
}
.scroller::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
.scroller::-webkit-scrollbar-track  {
  background-color: #C2D2E4;
}
.scroller::-webkit-scrollbar-thumb {
  height: 30px;
  background-color: #1470d8;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
