
/* Page & General */

*, ::after, ::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
p {
  margin: 0;
}
button {
  text-transform: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
#pt-page {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  width: 100%;
  height: 100%;
  position: relative;
  inset: 0px;
  line-height: 1.5rem;
  font-size: 1rem;
}

/* Content */

#pt-page-content {
  padding: 1rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  white-space: pre-wrap;
  color: var(--pt-content-text-colour, white);
  text-shadow: var(--pt-content-shadow-colour, black) 0px 0px 4px, var(--pt-content-shadow-colour, black) 0px 0px 4px;
  border-radius: var(--pt-content-border-radius, 0);
}
#pt-page-content > *:not(:first-child) {
  margin-top: var(--pt-content-gap, 0.5rem);
}

/* Choices */

#pt-page-choices {
  position: absolute;
  overflow-y: auto;
  padding: 1rem;
  border-radius: var(--pt-choice-border-radius, 0);
}
#pt-page-choices .choices-panel-internal {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#pt-page-choices button:not(:first-child) {
  margin-top: var(--pt-choice-gap, 1rem);
}
#pt-page-choices button {
  padding: 0.25rem 0.5rem;
  text-align: left;
  color: var(--pt-choice-colour-fg, black);
  background-color: var(--pt-choice-colour-bg, white);
  border-width: 1px;
  border-style: solid;
  border-color: var(--pt-choice-colour-border, rgb(0 0 0 / 0.1));
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
#pt-page-choices button:hover, #pt-page-choices button.highlight {
  border-color: var(--pt-choice-colour-highlight, #3b82f6);
  box-shadow: 0 10px 15px -3px var(--pt-choice-colour-highlight, #3b82f6), 0 4px 6px -4px var(--pt-choice-colour-highlight, #3b82f6);
}

/* Common */

.scroller {
  scrollbar-color: var(--pt-scroll-fg, #3b82f6) var(--pt-scroll-bg, #cbd5e1);
}
.scroller::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
.scroller::-webkit-scrollbar-track  {
  background-color: var(--pt-scroll-bg, #cbd5e1);
}
.scroller::-webkit-scrollbar-thumb {
  height: 30px;
  background-color: var(--pt-scroll-fg, #3b82f6);
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.bg-tint-1 { background-color: rgba(0, 0, 0, 0.1); }
.bg-tint-2 { background-color: rgba(0, 0, 0, 0.2); }
.bg-tint-3 { background-color: rgba(0, 0, 0, 0.3); }
.bg-tint-4 { background-color: rgba(0, 0, 0, 0.4); }
.bg-tint-5 { background-color: rgba(0, 0, 0, 0.5); }

.bd-blur-0 { backdrop-filter: blur(0); }
.bd-blur-4 { backdrop-filter: blur(4px); }
.bd-blur-8 { backdrop-filter: blur(8px); }
.bd-blur-12 { backdrop-filter: blur(12px); }
.bd-blur-16 { backdrop-filter: blur(16px); }
